body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font: 14px "Century Gothic", Futura, sans-serif;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/* マス目 */
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  transition: background-color .2s;
}
.square:focus {
  outline: none;
}
.square.is-winner {
  background-color: rgba(0,137,167,.3);
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* 履歴リスト */
.game-history {
  margin-top: 20px;
}

.btn-sort {
  padding: 3px 5px 3px 3px;
  border: 1px solid #000;
}

.list-moves {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}
.list-moves li {
  position: relative;
  padding-bottom: 2px;
}
.list-moves li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color:#0089A7;
}
.list-moves li + li {
  margin-top: 5px;
}
.list-moves .is-current {
  pointer-events: none;
}
.list-moves .is-current::before {
  width: 100%;
  transition: width .2s;
}

.fa-clock {
  padding-left: .5em;
}

.fa-clock path {
  fill: #0089A7;
}